*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
}


section{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height: 100vh;
    background: linear-gradient(to bottom,#f1f4f9,#dff1ff);
}
section .color{
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: 150px;
    background: #e71175;
    width: 500px;
    height: 500px;
}
section .color:nth-child(2){
    background:#39aefc;
    width:400px;
    height: 400px;
    bottom: -150px;
    right: -25px;
}
section .color:nth-child(3){
    top: 50px;
    left: -25px;
    right: 100px;
    width: 300px;
    height: 300px;
    background:#00d2ff
}
.box .cercle{
    position: absolute;
    animation:animate 10s linear infinite;
}
.box .cercle:nth-child(1)
{
    background:rgba(255,255,255,0.4);
    width:200px;
    height:200px;
    right: 350px;
    border-radius: 50%;
    box-shadow:0 8px 25px rgba(0,0,0,0.6);
    
}
@keyframes animate
{
    0%,100%
    { 
        transform:translateY(-40px);
    }
    50%{ 
        transform:translateY(40px);
    }
}
.box .cercle:nth-child(2)
{
    background: rgba(255,255,255,0.4);
    width:200px;
    height: 200px;
    bottom:-30px;
    left:360px;
    border-radius:50%;
    background: linear-gradient(to right top ,rgba(255,255,255,0.1),rgba(255,255,255,0.6));
    box-shadow:0 8px 25px rgba(0,0,0,0.4);
}
.container
{
position: relative;
width: 400px;
min-height: 400px;    
background: rgba(255,255,255,0.4);
border-radius: 1rem;
display: flex;
justify-content: center;
align-items: center;
backdrop-filter: blur(15px);
box-shadow: 0 25px 45px rgba(0,0,0,0.6);
border: 1px solid rgba(255,255,255,0.5);
border: 1px solid rgba(255,255,255,0.2);
border: 1px solid rgba(255,255,255,0.2);


}
.form{
    position:relative;
    width:100%;
    height:100%;
    padding:40px;

}
.form h2
{
position: relative;
color: #fff;
font-size: 24px;
font-weight: 600;
letter-spacing: 1px;
margin-bottom: 40px;
}
.form h2::before
{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    width:80px;
    height: 4px;
    background:#fff;
}
.form .tbx{
    width:100%;
    margin-top:2rem;
}
.form .tbx input{
    width:100%;
    background: rgba(255,255,255,0.2);
    border: none;
    outline: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow:0 5px 15px rgba(0,0,0,0.6);
    border:1px solid rgba(255,255,255,0.5);
    border: 1px solid rgba(255,255,255,0.2);
    border: 1px solid rgba(255,255,255,0.2);
    color:#fff;
    letter-spacing: 1px;
    font-size: 17px;
}
.form .tbx input:focus{
    border-color: rgb(233, 135, 152)
}
.form .tbx input::placeholder
{
    color: #fff;
}
.form .tbx input[type="submit"]
{
    background:#fff;
    opacity: 0.4;
    color:#665;
    max-width: fit-content;
    font-size: 17px;
    font-weight:600;
    box-shadow: 0 8px 25px rgb(0, 0, 0);
}